# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
.env.local
.env.production

# Build output
dist/
**/dist/
build/

# Prisma
*.db
*.db-journal

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/